.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  /* center, flex-start - po lewej lub flex-end - po prawej;
                                    space-evenly - równe marginesy, space-between - rozmieszczenie
                                    po całej stronie */
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 5px;
}